<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Google Sign In</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.203665838902-bgq15veddaif0kj3kis4535nkkijjo39</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>203665838902-bgq15veddaif0kj3kis4535nkkijjo39.apps.googleusercontent.com</string>
	<key>CFBundleShortVersionString</key>
	<string>1.6.0</string>
</dict>
</plist>
